body {
  text-align: center;
}
/*DEFAULT*/
.container {
  display: flex;
  border: 5px solid goldenrod;
}
.item {
  border: 2px solid black;
  font-size: 100px;
}
/*CENTRERAD*/
.item2 {
  border: 2px solid red;
  font-size: 100px;
}
.container2 {
  display: flex;
  justify-content: center;
  border: 5px solid mistyrose;
}
/*MIXAD*/
.item3 {
  border: 2px solid blue;
  font-size: 100px;
}
.container3 {
  display: flex;
  border: 5px solid green;
}
.container3 .item3:nth-child(even) {
  order: -1;
}
/*WRAPING*/
.item4 {
  border: 2px solid purple;
  font-size: 100px;
  padding: 20px;
  min-width: 300px;
  height: 100px;
}
.container4 {
  display: flex;
  flex-wrap: wrap;
  border: 5px solid grey;
}
/*LONE*/
.container5 {
  display: flex;
  border: 5px solid yellow;
  justify-content: center;
  flex-direction: column;
}
.item5 {
  border: 2px solid red;
  font-size: 100px;
  padding: 10px;
  height: 100px;
  width: auto;
}
.item5-3 {
  align-self: flex-end;
  margin-left: auto;
}
